.mainBackground{
	-fx-background-color:#FFFFFF;

}

.menuHolder{
	-fx-background-color:#2980B9;

	-fx-border-image-width:1px;
	-fx-border-color:#2980B9;
}

.menuItem{
	-fx-background-color:transparent;
}
.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}

.menuItem:hover{
	-fx-background-color:#5DADE2 ;
	opacity:10%;
}

.exitbutton{
	-fx-background-color:#2980B9;
	-fx-border-image-width:1px;
}

.exitbutton:hover{
	-fx-background-color:#5DADE2;

}



.usefulButtons{
    -fx-text-fill: white;
    
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 9 14 9 14;
	-fx-background-color: #008CBA;
    
    
}

.btn-center{
    -fx-text-align: center;
}


.dangerButtons{
	 -fx-text-fill: white;
            -fx-background-radius: 5;
            -fx-font-weight: bold;
            -fx-font-size: 14px;
            -fx-padding: 5 11 5 11;
        	-fx-background-color: #f44336;
    
    
}


.greenButtons{

     -fx-text-fill: white;
        -fx-background-radius: 5;
        -fx-font-weight: bold;
        -fx-font-size: 14px;
        -fx-padding: 9 14 9 14;
    	-fx-background-color: #52BE80;
    
    
}


.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: black;
}

.tf_box:focused{
    -fx-border-color: #2E86C1;
}

.errorsLabel{
	-fx-background-color:#f93154;
	-fx-border-color: #DEDEE4;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-font-weight:bold;
    -fx-font-size:14px;
}


.paneStyle{
	 -fx-background-color:#FFFFFF;
	 -fx-border-color: #495bed;
	 -fx-pref-width:949;
	 -fx-pref-height:589;
}



.table-view{
   -fx-background-color: #EFEFEF;

}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .filler{
    -fx-background-color:  #EFEFEF;
    -fx-border-width: 0 0 50 0;
}

/* Spaltenk�pfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#2980B9 0%, #2980B9 100%);


}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: 9E9E9E;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #F8F9F9;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #EAEDED ;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #CCD1D1  ;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-fill: #17202A;

}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #2980B9;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #2980B9;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
